@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --text-color: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text-color: #ededed;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--text-color);
}

body {
  background-color: var(--background) !important;
  color: var(--text-color) !important;
}